/*
[{(+++)}] Button Open [{(+++)}]
*/

.float-sidebar-button-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  display: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.float-sidebar-button {
  --size: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--hequalizer-accent-color);
  box-shadow: var(--hequalizer-box-shadow);
  cursor: pointer;
  transition: var(--hequalizer-transition-time);
  color: var(--hequalizer-code-box-text-color);
}

.float-sidebar-button:hover {
  background-color: var(--secondary-color);
}

.float-sidebar-button svg {
  width: 40px;
  height: auto;
}

/*
[{(+++)}] Content [{(+++)}]
*/

.float-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000000;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.float-sidebar-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.float-sidebar-container {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1;
  display: flex;
  width: calc(100% - 35px);
  max-width: 220px;
  height: calc(100vh - 50px);
  border-radius: var(--hequalizer-border-radius);
  background-color: rgb(var(--hequalizer-bg-color));
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.1);
}

.float-sidebar-container-int {
  position: relative;
  width: 100%;
}

.float-sidebar-content {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 15px;
  overflow: auto;
  box-sizing: border-box;
}

/*
[{(+++)}] Button Close [{(+++)}]
*/

.float-sidebar-icon-close-wrapper {
  position: absolute;
  top: 5px;
  right: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--hequalizer-bg-color));
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--hequalizer-transition-time);
  
  &:hover {
    background-color: var(--hequalizer-accent-color);

    & .float-sidebar-icon-close {
      --icon-color: 235 235 235;
    }
  }
}


.float-sidebar-icon-close {
  --icon-color: var(--hequalizer-text-color);
  --size: 12px;
  display: flex;
  width: var(--size);
  height: var(--size);
  background: linear-gradient(
      to top left,
      rgba(var(--icon-color) / 0) 0%,
      rgba(var(--icon-color) / 0) calc(50% - 1px),
      rgba(var(--icon-color) / 1) 50%,
      rgba(var(--icon-color) / 0) calc(50% + 1px),
      rgba(var(--icon-color) / 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(var(--icon-color) / 0) 0%,
      rgba(var(--icon-color) / 0) calc(50% - 1px),
      rgba(var(--icon-color) / 1) 50%,
      rgba(var(--icon-color) / 0) calc(50% + 1px),
      rgba(var(--icon-color) / 0) 100%
    );
}

/*
[{(+++)}] configs [{(+++)}]
*/

.float-sidebar-visible {
  display: flex;
}

.float-sidebar-visible .float-sidebar-mask,
.float-sidebar-visible .float-sidebar-icon-close-wrapper {
  animation: fadeIn var(--animation-config);
}
.float-sidebar-visible .float-sidebar-container {
  animation: translateToRight var(--animation-config);
}

.float-sidebar-hidding .float-sidebar-mask,
.float-sidebar-hidding .float-sidebar-icon-close-wrapper {
  animation: fadeOut var(--animation-config);
}
.float-sidebar-hidding .float-sidebar-container {
  animation: translateToLeft var(--animation-config);
}

/*
[{(+++)}] animations [{(+++)}]
*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes translateToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes translateToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
