/* https://colorhunt.co/palette/7286d38ea7e9e5e0fffff2f2 */

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: rgb(114, 134, 211); /* #7286D3 */
  --secondary-color: rgb(142, 167, 233); /* #8EA7E9 */
  --tertiary-color: rgb(229, 224, 255); /* #E5E0FF */
  --hequalizer-body-font: "Poppins", sans-serif;
  --hequalizer-track-color: 50 50 50;
  --hequalizer-thumb-color: 80 80 80;
  --hequalizer-bg-color: 26 26 26;
  --hequalizer-bg-shape-color: 14 23 57;
  --hequalizer-text-color: 235 235 235;
  --hequalizer-accent-color: var(--primary-color);
  --hequalizer-padding-containers: 25px;
  --hequalizer-height-main-menu: 70px;
  --hequalizer-box-shadow: 0 0 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
  --hequalizer-border-radius: 14px;
  --hequalizer-main-content-max-width: 900px;
  --hequalizer-code-box-background: rgb(14 12 12);
  --hequalizer-code-box-border: rgb(100 100 100);
  --hequalizer-code-box-text-header-color: rgba(var(--hequalizer-text-color) / 0.6);
  --hequalizer-code-box-text-color: rgb(var(--hequalizer-text-color));
  --hequalizer-transition-time: 0.3s;
}

.light-mode {
  --hequalizer-track-color: 210 210 210;
  --hequalizer-thumb-color: 245 245 245;
  --hequalizer-bg-color: 235 235 235;
  --hequalizer-bg-shape-color: 213 222 255;
  --hequalizer-text-color: 26 26 26;
}

*,
*:focus,
*:focus-inset {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  box-shadow: unset;
  overflow-anchor: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  padding: 0 !important;
}

body {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--hequalizer-body-font), system-ui;
  font-size: 16px;
  background-color: rgb(var(--hequalizer-bg-color));
  background-image: linear-gradient(45deg, rgba(var(--hequalizer-bg-color) / 1) 0%, rgba(var(--hequalizer-bg-shape-color) / 1) 80%, rgba(var(--hequalizer-bg-color) / 1) 100%);
  background-attachment: fixed;
  color: rgb(var(--hequalizer-text-color));
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

input,
textarea,
select {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  display: block;
  width: 100%;
  resize: none;
  background-color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

small {
  font-size: 14px;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  display: block;
  max-width: 100%;
  border: 0; }

img[src*="no-image"] {
  opacity: 0 !important;
}

button[disabled],
html input[disabled],
[aria-disabled='true'] {
  cursor: default;
  pointer-events: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  text-align: center;
  font-family: var(--primary-font);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 12px 13px;
}

th {
  text-align: left;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
*::-webkit-scrollbar-track {
  background-color: rgb(var(--hequalizer-track-color));
  border-radius: var(--hequalizer-border-radius);
}
 
*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--hequalizer-thumb-color));
  border: 2px solid rgb(var(--hequalizer-track-color));
  border-radius: var(--hequalizer-border-radius);
}

/* ==================== */
/* Base */
/* ==================== */

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.layout {
  --layout: 215px minmax(0, 1fr);
  display: grid;
  grid-template-columns: var(--layout);
  justify-content: center;
}

.layout-left-side {
  position: sticky;
  top: var(--hequalizer-height-main-menu);
  width: 100%;
  height: calc(100vh - var(--hequalizer-height-main-menu));
  max-height: calc(100vh - var(--hequalizer-height-main-menu));
  overflow: auto;
  padding: var(--hequalizer-padding-containers);
}

.layout-center-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

