.main-header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(var(--hequalizer-bg-color) / .4);
  backdrop-filter: blur(6px);
  height: var(--hequalizer-height-main-menu);
  padding: 0 var(--hequalizer-padding-containers);
}

.main-header-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 10px;
}

.main-header-title {
  font-size: 28px;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: transparent;
  -webkit-background-clip: text;
}

.main-header-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}

.main-header-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--hequalizer-accent-color);
  transition: color var(--hequalizer-transition-time);

  &.button-light-mode {
    & .main-header-icon-night {
      display: none;
    }

    & .main-header-icon-day {
      display: block;
    }
  }

  &:hover {
    color: rgb(var(--hequalizer-text-color));
  }

  & .main-header-icon-day {
    display: none;
  }

  & svg {
    height: auto;
  }
}

